<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.UserDao">
	<select id="login"  resultType="User" parameterType="User">
		select * from usertable where useremail =  #{useremail} and userpass = #{userpass}
	</select>
	<insert id="register" parameterType="User">
		insert into usertable (id, useremail, userpass) values (null, #{useremail}, #{userpass})
	</insert>
</mapper>